@{
    <div class="text-center">
        <h1 style="background-color:coral;" class="display-4">OgrenciDers sayfası</h1>
    </div>
    <p>@Html.ActionLink("OgrenciDerslistele", "listele")</p>
    <p>@Html.ActionLink("OgrenciDersYeni", "Yeni")</p>
    <body style="background-color: coral;">
            <img src="~/image/WebFinalOgenciDerslogo.png" alt="deneme logosu" width="100%" />

    </body>
}
