@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Öğrenci Ders İşlemleri</h1>
    <p>@Html.ActionLink("Öğrenci Ders Bilgileri Listeleme", "listele")</p>
    <p>@Html.ActionLink("Öğrenciye Yeni Ders Ekleme", "Yeni")</p>
    <p>@Html.ActionLink("Öğrenci Ders Detayları", "OgrenciDersDetay")</p>
    <p>@Html.ActionLink("Ögrenciden Ders Silme", "OgrenciDersSil")</p>
}
