@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>Yönetim İşlemleri</h1>
    <p>@Html.ActionLink("Okul Yönetimi Listeleme", "listele")</p>
    <p>@Html.ActionLink("Yeni Okul Personeli", "Yeni")</p>
    <p>@Html.ActionLink("Okul Yönetimi Detaylarını Listeleme", "YonetimDetay")</p>
    <p>@Html.ActionLink("Okul Personeli Silme", "YonetimSil")</p>
}
