@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    <h1>Yönetim Ders İşlemleri</h1>
    <p>@Html.ActionLink("Ders Bilgileri Listeleme", "listele")</p>
    <p>@Html.ActionLink("Yeni Ders Oluşturma", "Yeni")</p>
    <p>@Html.ActionLink("Ders Bilgileri Detayları", "DersDetay")</p>
    <p>@Html.ActionLink("Ders Silme", "DersSil")</p>
}
